language: r
r:
 - devel
cache: packages
sudo: false
warnings_are_errors: true
r_check_args: --as-cran


git:
  depth: 5


r_packages:
 - devtools
 - covr
 - roxygen2
 - rprojroot
 - rmarkdown
 - knitr
 - tidyverse
 - reticulate


before_script:
 - R -e "devtools::document()"

after_success:
  - Rscript -e "covr::codecov()"

